parameters:
    level: 9
    paths:
        - app
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Elastic\\Elasticsearch\\Client::(search|index|delete)\(\)#'
        -
            message: '#.*#'
            paths:
                - tests/Feature/*
